* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: rgb(245, 236, 224);
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/fondo-cocina.jpg);
  background-size: cover;
}

img {
  width: 15%;
  align-self: baseline;
  position: absolute;
  top: 10px;
  left: 10px;
}

h1 {
  text-align: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 20px 30px;
}

h2 {
  text-align: center;
  margin-top: 3em;
}

i {
  color: purple;
}

i:hover {
  color: red;
  transition: 0.5s;
  box-shadow: 11px 10px 26px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.75);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px;
}

input,
select {
  width: 40%;
  margin: 10px 0;
}

input[type="submit"] {
  width: 100px;
}

.creadorCantidadRecetas {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.areaIngrediente {
  margin: 10px auto;
  display: block;
}

table {
  width: 50%;
  margin: 100px auto;
  text-align: center;
  border-collapse: collapse;
  border: 2px solid purple;
  border-spacing: 0;
}

thead {
  background-color: purple;
  color: white;
}

td {
  border: 1px solid black;
  padding: 5px;
}

th {
  padding: 10px;
}

td:first-child {
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
}
