* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: rgb(245, 236, 224);
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/fondo-cocina.jpg);
  background-size: cover;
}

header img {
  width: 15%;
  align-self: baseline;
  position: absolute;
  top: 10px;
  left: 10px;
}

header a {
  position: relative;
  bottom: -100px;
  background-color: black;
  border-radius: 50%;
}

header i {
  font-size: 4em;
  color: white;
  border: 3px solid black;
  border-radius: 50%;
}

h1 {
  text-align: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 20px 30px;
}

h2 {
  text-align: center;
  margin: 70px;
}

span{
  color: purple;
  font-weight: bold;
  font-style: italic;
}

i {
  color: purple;
}

i:hover {
  color: purple;
  transition: 0.5s;
  box-shadow: 11px 10px 26px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.75);
}

main p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;
}

input,
select {
  width: 30%;
  margin: 10px 0;
}

input[type="submit"],
button {
  display: block;
  margin: 20px auto;
  font-size: 15px;
  width: 200px;
  height: 50px;
  border-width: 1px;
  border-color: #a511c0;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;

  box-shadow: inset 0px 1px 0px 0px #e184f3;
  text-shadow: inset 0px 1px 0px #9b14b3;
  background: linear-gradient(#c123de, #a20dbd);
}

input[type="submit"]:hover,
button:hover {
  background: linear-gradient(#a20dbd, #c123de);
}

input[type="submit"]:active,
button:active {
  background: #a20dbd;
}

.creadorCantidadRecetas {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.areaIngrediente {
  margin: 10px auto;
  display: block;
}

table {
  width: 50%;
  margin: 30px auto;
  text-align: center;
  border-collapse: collapse;
  border: 2px solid purple;
  border-spacing: 0;
}

thead {
  background-color: purple;
  color: white;
}

td {
  border: 1px solid black;
  padding: 5px;
}

th {
  padding: 10px;
}

td:first-child {
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
}

.comparador {
  display: flex;
  flex-direction: column;
}

.contenedorBotones {
  display: flex;
}

.legend{
  color: purple;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 30px;
}